<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/static/logo.jpg" alt width="30" height="25">
            <small class="d-block mb-3 text-muted">@ 2022 Kiev</small>
        </div>
        <div class="col-12 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    Cool Stuff
                </li>
                <li class="mb-1">
                    Random Feature
                </li>
                <li class="mb-1">
                    Team Feature
                </li>
                <li class="mb-1">
                    Stuff for developers
                </li>
                <li class="mb-1">
                    Another One
                </li>
                <li class="mb-1">
                    Last Time
                </li>
            </ul>
        </div>
        <div class="col-12 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    Resource
                </li>
                <li class="mb-1">
                    Resource name
                </li>
                <li class="mb-1">
                    Another resource
                </li>
                <li class="mb-1">
                    Final resource
                </li>
            </ul>
        </div>
        <div class="col-12 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1">
                    Team
                </li>
                <li class="mb-1">
                    Locations
                </li>
                <li class="mb-1">
                    Privacy
                </li>
                <li class="mb-1">
                    Terms
                </li>
            </ul>
        </div>
    </div>
</footer>